.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                i.fa.fa-calendar-check-o
                | Billz
        .collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right
                if !user
                    li(class=(title == 'Login') ? 'active' : undefined)
                        a(href='/login') Login
                    li(class=(title == 'Create Account') ? 'active' : undefined)
                        a(href='/signup') Create Account
                else
                    li(class=(title == 'Payees') ? 'active' : undefined)
                        a(href='/payee') Payees
                    li(class=(title == 'Payments') ? 'active' : undefined)
                        a(href='/payment') Payments
                    li(class=(title == 'Forecast') ? 'active' : undefined)
                        a(href='/forecast') Forecast
                    li(class=(title == 'Month') ? 'active' : undefined)
                        a(href='/month') Month
                    li(class=(title == 'Map') ? 'active' : undefined)
                        a(href='/map') Map
                    li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            if user.profile.picture
                                img(src=user.profile.picture)
                            else
                                img(src=user.gravatar(60))
                            span= user.profile.name || user.email || user.id
                            i.caret
                        ul.dropdown-menu
                            li
                                a(href='/account') My Account
                            li.divider
                            li
                                a(href='/logout') Logout