extends ../layout

block content
  .panel.panel-primary
    .panel-heading
        h5 Create a new Payee
    .panel-body
        form.form(method='post', href='/payee/create')
            input(type='hidden', name='_csrf', value=_csrf)
            .row
                .col-sm-12
                    label Name:
                        input(type = 'text', name = 'name', class = 'form-control')
                .col-sm-12
                    label Description:
                        input(type = 'text', name = 'description', class = 'form-control')
                .col-sm-12
                    label Due:
                        input(type = 'text', name = 'due', class = 'form-control')
                .col-sm-12
                    label Amount:
                        input(type = 'text', name = 'amount', class = 'form-control')
                .col-sm-12
                    input(type='submit', class='btn btn-primary', value='Submit')