extends ../layout

block content
  .panel.panel-primary
    .panel-heading
        h5= data.name
    .panel-body
        .row
            .col-xs-6
                .row
                    .col-xs-4
                        small(style='font-variant: small-caps;') Due Date
                        h4 #{moment(data.ref).format('Do')}
                    .col-xs-4
                        small(style='font-variant: small-caps;') Amount
                        h4 #{formatCurrency(data.amount, {format: '%s%v', code: 'USD', symbol: '$'})}
            .col-xs-6
                .row
                    .col-xs-12
                        .well
                            p you are here
        .row
            .col-xs-12
                h6 Description:
                p #{data.description}
        .row 
            .col-xs-12
                a(class='btn btn-success' href='/payee/edit/' + data.id) Edit 
                | 
                a(class='btn btn-primary' href='/payee') Payees