extends layout

block content
    h1 Welcome to Billz
    p.lead An open-source application to help you track and pay your bills each month
    hr
    .row
        .col-sm-6
            h2 Weekly Forecast
            p Get a forecast of the total amount due, how much you have paid, and what you have left to pay each week.
        .col-sm-6
            h2 Monthly Forecast
            p Get a list of all bills for the month, how much you have paid, and what you have left to pay each month.
    hr
    p Full source is available here: <a href="https://github.com/robertz/node-billz" target="_blank">https://github.com/robertz/node-billz</a>