extends ../layout

block content

    h5 Payment History

    div(id="app")
        div(v-if="hasPayments === false")
            h3 You do not have any payments
            p Add some payees and lets get started!

        div(id="table-wrapper" v-if="hasPayments === true")
            table.table.table-striped
                thead
                    tr
                        th Name
                        th Due
                        th Paid
                        th Amount
                tbody
                    tr(v-for="payment in sortedPayments")
                        td {{ payment.payee | payee(payees) }}
                        td {{ payment.ref | dateFormat }}
                        td {{ payment.createdAt | dateFormat }}
                        td {{ payment.amount | currencyFormat }}
            div
                span(class="pull-left" style="margin-tip: 8px; font-weight: 700;")
                    | {{ pageInfo }}
                span(class="pull-right")
                    button.btn(@click="prevPage" style="width: 75px;" v-bind:class="[prevEnable ? 'btn-primary' : '']") Previous
                    |
                    |
                    button.btn(@click="nextPage" style="width: 75px;" v-bind:class="[nextEnable ? 'btn-primary' : '']") Next

    script.
        window.kdfe = !{JSON.stringify(data)};
    script(src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
    script(src="/js/payments-vue.js")